#header{
	background-color: blue;
	text-align: center;
	font-size: 40pt;
	line-height: 55px !important;
}
#criteria {
	border:1px solid;
	margin-top:1%;
	padding: 1%;
}
#main{
	border:1px solid;
}

.item-container{
	border:1px solid;


}