<form role="form" class="form-inline">
	<div class="form-group">
		<label for="pestname-input">Pesticide name:</label>
		<input type="text" name="pestname-input" id = "pestname-input" class="form-control" size="40">
	</div>
		<div class="form-group">
		<label for="location">Location:</label>
		<input type="text" name="location" id="location" class="form-control" size="40">
	</div>
	<div class="form-group">
	    <label for="distance">Find Within distance:</label>
	  	<select id="distance" class="form-control">
		  <option value="5">5km</option>
		  <option value="10">10km</option>
		  <option value="20">20km</option>
		  <option value="50">50km</option>
		</select>
	</div>
	<input type="submit" value="Search" id="search" class="btn btn-default">
</form>
